﻿@page "/"

@using BlazorCKEditor1.Shared;
@using BlazorCKEditor1.Data;

<h1>Hello, world!</h1>

Welcome to your new app.

<EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">

    <InputRichText @bind-Value="@exampleModel.SomeValue" maxlength="2048" style="width:100%;height:150px;" />

    <button type="submit">Submit</button>
</EditForm>

    @code {

        private ExampleModel exampleModel = new ExampleModel();

        protected override async Task OnInitializedAsync()
        {
            exampleModel.SomeValue = "BBB";
        }

        private void HandleValidSubmit()
        {
            Console.WriteLine("Submit pressed");
            Console.WriteLine(exampleModel.SomeValue);
        }
    }

